[Desktop Entry]
Name=XIVLauncher RB-Patched
Comment=Custom launcher for the most critically acclaimed MMO with Rankyn Bass's patches.
Exec=xivlauncher
Icon=xivlauncher
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=XIVLauncher.Core
